.footer-content {
  height: 120px;
  background-color: #555555;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  bottom: 0;
  margin-top: auto;
}

.footer-image {
  width: 70px;
}

.footer-text {
  color: white;
  font-size: 10px;
}