.top-page-header {
  width: 100vw;
  background-color: antiquewhite;
   height: 80px;
   align-items: center;
   display: flex;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
}

.header-title {
  font-size: 45px;
  margin-left: 15px;
}

.header-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.header-list li {
  padding: 10px;
}