.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  opacity: 0.9;
  width: 100%;
  height: 100px;
  align-items: center;
  background: image-url('banner-1391996_1920.jpg');
  background-size: cover;
  background-blend-mode:lighten;
  position: absolute;
  position: fixed;
  z-index: 99;
}

.header-logo {
  width: 210px;
  height: 92px;
  margin: 10px 0 10px 30px;
}

.header-logo:hover {
  border: solid 1px #ec6d71;
}

.header-logo:active {
  background-color: #ec6d71;
}

.header-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
  float: right;
  font-size: 15px;
}


.header-list li {
  opacity: 0.8;
  background-color: #ec6d71;
  padding: 20px;
  margin: 15px 32px 15px 15px;
  height: 65px;
  width: 120px;
  z-index: 100;
  border: solid 3px white;
  font-size: 14px;
}

.header-list li:hover {
  opacity: 1;
}

.logout {
  text-decoration: none;
  color: white;
  
}

.logout:active {
  padding-top:6px;
  padding-bottom:4px;
  background-color: #ec6d71;
  color:#e0ebf5;
}

.sign-up {
  text-decoration: none;
  color: white;
}

.sign-up:active {
  padding-top:6px;
  padding-bottom:4px;
  background-color: #ec6d71;
  color:#e0ebf5;
}

.login {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.login:active {
  padding-top:6px;
  padding-bottom:4px;
  background-color: #ec6d71;
  color:#e0ebf5;
}

.user-nickname {
  text-decoration: none;
  color: white;
}
.user-nickname:active {
  padding-top:6px;
  padding-bottom:4px;
  background-color: #ec6d71;
  color:#e0ebf5;
}


.header-navi {
  position: absolute;
  width: 80px;
  top: 83px;
  z-index: 1000;
  right: 50px;
  position: fixed;
  -webkit-animation: 3s linear infinite header-navi;
  display: none;
}

@-webkit-keyframes header-navi {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
    }
}

.navi-under {
 position: absolute;
 font-size: 14px;
 background-color: yellowgreen;
 color: white;
 padding: 210px 15px 15px 15px;
 top: 5px;
 right: 15px;
 opacity: 0.9;
 border-radius: 20px;
 display: none;
}