<div class="footer-content">
   <%= image_tag("IMG_6670.PNG",alt:'butaijin-logo',class:"footer-image")%>
    <div class="footer-text">Copyright (C) 2020 BUTAI-JIN, All Rights Reserved.</div>
    <p><%= link_to "プライバシーポリシー", performances_privacy_path, class:"privacy" %></p>
</div>
