.search-page {
 padding-top: 100px;
}

.main-title {
  padding: 20px 20px 0 20px;
}

.search-content {
  width: 100vh;
  padding: 20px;
}

.search-wrap {
  background-color: #f8f8f8;
  margin: 15px 0;

}

.search-form-label {

}

.search-form {

}

.search-radio {
}

.search-btn {

}