.privacy-content {
    padding: 150px 0 100px 0;
    min-height: 100vh;
    background-image: image-url('background.jpg');
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}

.privacy-text {
    width: 90vw;
    margin-left: 20px;
}