.search-result {
  padding: 150px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: image-url('background.jpg');
}

.search-title {
  color: #555555;;
}

.results {
  width: 550px;
}

.results ul {
  margin: 30px 0 80px 0;
  background-color: #f8f8f8;
  padding-bottom: 20px;

}

.result-content {
  padding: 20px 20px 0 20px;
  display: flex;
  position: relative;
}

.results li{
  list-style: none;
  display: flex;
  width: 500px;
}

.result-wrap {
  font-size: 20px;
  color: #555555;
  display: flex;
}

.result-name {
  color: #555555;
  width: 230px;
}

.link-show {
  text-decoration: none;
  background-color: #ec6d71;
  color: white;
  opacity: 0.8;
  border-radius: 30px;
  padding: 20px 40px;
}

.link-btn {
 position: absolute;
 bottom: 12px;
 left: 360px;
}

.link-btn:hover {
  cursor: pointer;
  text-decoration: none;
 -webkit-animation: simple_square_btn6 0.5s both;
 -moz-animation: simple_square_btn6 0.5s both;
         animation: simple_square_btn6 0.5s both;
}
@-webkit-keyframes simple_square_btn6 {
 0% {
   -webkit-transform: scale(1);
           transform: scale(1);
 }
 100% {
   -webkit-transform: scale(1.1);
           transform: scale(1.1);
 }
}
@-moz-keyframes simple_square_btn6 {
 0% {
   -webkit-transform: scale(1);
           transform: scale(1);
 }
 100% {
   -webkit-transform: scale(1.1);
           transform: scale(1.1);
 }
}
@keyframes simple_square_btn6 {
 0% {
   -webkit-transform: scale(1);
           transform: scale(1);
 }
 100% {
   -webkit-transform: scale(1.1);
           transform: scale(1.1);
 }
}

.not-find {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.search-image {
 width: 100px;
 height: 150px;
 margin-right: 20px;
}

.p-top {
  min-width: 960px;
  &__title {
    text-align: center;
    font-size: 16px;
  }

  &__introduce {
    margin: 0 auto;
    th {
        padding: 0 15px;
    }
    td {
      padding: 0 15px;
    }
  }
  &__paginate {
    text-align: center;
    margin:0 auto;
  }
}