.detail-content {
  padding: 150px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: image-url('background.jpg');
}

.detail-table {
  background-color: #f8f8f8;
  width: 70vh;
  height: 90vh;
}


.edit-dest {
margin: 50px;
display: flex;
}

.edit-btn {
  opacity: 0.8;
  background-color: #ec6d71;
  padding: 20px;
  margin: 15px;
  height: 65px;
  width: 120px;
  text-decoration: none;
  color: white;
}

.edit-btn:hover {
  opacity: 1;
}

.edit-btn:active {
  background-color: #ec6d71;
  color:#e0ebf5;
}

.destroy-btn {
 opacity: 0.8;
 background-color: #a9a9a9;
 padding: 20px;
 margin: 15px;
 height: 65px;
 width: 120px;
 text-decoration: none;
 color: white;
 text-align: center;
 cursor: pointer;
}

.destroy-btn:hover {
opacity: 1;
}

.destroy-btn:active {
  background-color: #a9a9a9;
  color:#e0ebf5;
}

.mypage-back {
padding: 50px;
}

.show-image {
  margin-bottom: 20px;
  width: 35vw;
}

.login-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 999;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.close-btn {
  margin-right: 5px;
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

.destroy-btn-modal {
  opacity: 0.8;
  background-color: #a9a9a9;
  padding: 20px;
  margin: 15px;
  height: 65px;
  width: 120px;
  text-decoration: none;
  color: white;
  text-align: center;
  cursor: pointer;
}

.destroy-btn-modal:hover {
  opacity: 1;
  }

  .destroy-modal-wrap {
  margin-top: 30px;
  }

  .twitter-share-button {
    margin-top: 30px;
  }