.sign-up-content {
  padding: 150px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sign-up-title {
  padding: 20px;
  color: #555555;
  font-size: 20px;
}

.field {
  background-color: #f8f8f8;
  margin: 10px 0;
  padding: 20px 0;
  width: 400px;
}

.form-text-wrap {
  display: flex;
  font-size: 15px;
  padding-left: 30px;
}

.form-text {
  color: #555555;
  padding: 10px;
}

.indispensable {
 background-color: #ec6d71;
 color: white;
 font-size: 13px;
 height: 20px;
 width: 40px;
 opacity: 0.8;
 text-align: center;
 margin: 8px 0 0 15px;
}

.sign-up-form {
  width: 300px;
  height: 40px;
  padding-left: 20px;
  margin: 0 0 10px 48px;
  
}

.actions {
  display: flex;
  justify-content: center;
}

.sign-up-btn {
  opacity: 0.8;
  background-color: #ec6d71;
  padding: 20px;
  margin-top: 30px;
  height: 65px;
  width: 120px;
  color: white;
  border:1px solid #ec6d71;
  cursor: pointer;
}

.sign-up-btn:hover {
  opacity: 1;
}

.sign-up-btn:active {
  background-color: #ec6d71;
  color:#e0ebf5;

} 

.back-home {
  padding-top: 50px; 
}